body {
  background: #fc5c7d;
  background: -webkit-linear-gradient(to top, #fc5c7d, #6a82fb);
  background: linear-gradient(to top, #fc5c7d, #6a82fb);
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.main {
  margin: auto;
  width: 500px;
}

.title {
  text-align: center;
  font-weight: bold;
}
